<div id="crumbs">
  <ul>
    <li><a href="#">Rookie 0 - 25%</a></li>
    <li><a href="#">Hustler 25 - 50%</a></li>
    <li><a href="#">Mogul 50 - 75%</a></li>
    <li><a href="#">Kingpin 75 - 100%</a></li>
  </ul>
</div>
