<div id="crumbs" class="hidden-sm hidden-xs">
  <ul>
    <li><a data-index="1">Rookie 0 - 25%</a></li>
    <li><a data-index="2">Hustler 25 - 50%</a></li>
    <li><a data-index="3">Mogul 50 - 75%</a></li>
    <li><a data-index="4">Kingpin 75 - 100%</a></li>
  </ul>
</div>
