<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">

    <div class="item active">
      <div class="carousel-caption description">
        <h3><i class="big">Instant Win</i></h3>
        <p class="big">We know, we know, you love to smoke - <br/>
        but if you quit today, your forecast will get a HUGE boost</p>
        <p>Plus, you know you'll live long enough to enjoy millions.</p>
        <div class="btn btn-default"
             onclick="toggleSavings('impact', 0.12, '#f97137', 'Instant Win')">See IMPAKT
        </div>
        <span class="big" style="position: relative; top: 3px;">&nbsp; +12%</span>
      </div>
    </div>

    <div class="item progress-bar-blue">
      <div class="carousel-caption description">
        <h3><i class="big">Did you know,</i></h3>
        <p>
        The way to secure the financial future you really want for <br/>
          yourself is to increase your savings rate — not your income.
        </p>

        <p>
          Check out how you can take action today instead of just <br/>
          hoping for that promotion!
        </p>
        <br/>
        <br/>
      </div>
    </div>

    <div class="item progress-bar-pink">
      <div class="carousel-caption description">
        <h3><i class="big">Quick tip:</i></h3>
        <ul class="big">
          <li>
            to calculate a weekly expense compounded over ten years, <br/>
            multiply the price by 752
          </li>
          <li>
            for a monthly expense, multiply by 173
          </li>
        </ul>

        <br/>
      </div>
    </div>
  </div>
</div>
