<h4><i>Pretty impressive</i>, MOGUL.</h4>
<div class="description-txt-con">
  <ul>
    <li>at this rate, you'll be a millionaire when you're <span class="blue-title">61</span></li>
    <li>you earn <span class="blue-title">10% more</span> than the average for your city</li>
      <li>you save <span class="blue-title">18% more</span> than most people your age</li>
    <li>you're making bank <span class="blue-title">5% faster</span> than your friends</li>
    <li>at this rate, you could retire at 41 - that's <span class="blue-title">19 years earlier</span> than average</li>
  </ul>
</div>