<div class="grid mansory">
  <div class="grid-item red-box">
    <div class="top-box-part">
      <span class="iconContainer">
        <img src="" />
      </span>
      <span class="textContainer">
        Switch to <br/> HVB PlusSparen
      </span>
      <div class="clear"></div>
    </div>

    <div class="ctaContainer">
      <span class="btn red-btn btn-default">See Impact</span>
    </div>
  </div>
  
  
  <div class="grid-item light-blue-box ">
    <div class="top-box-part">
      <span class="iconContainer">
        <img src="" />
      </span>
      <span class="textContainer">
        Skip the Cinema
      </span>
      <div class="clear"></div>
    </div>

    <div class="ctaContainer">
      <span class="btn light-blue-btn btn-default">See Impact</span>
    </div>
  </div>
  
  
  <div class="grid-item purple-box grid-item--width2">
    <div class="top-box-part">
      <span class="iconContainer">
        <img src="" />
      </span>
      <span class="textContainer">
        Consider buying an espresso machine (for under 100, please!) and having your morning cup of coffee at home.
      </span>
      <div class="clear"></div>
    </div>

    <div class="ctaContainer">
      <span class="btn purple-btn btn-default">See Impact</span>
    </div>
  
  </div>
  
  <div class="grid-item green-box grid-item--width2">
    <div class="top-box-part">
      <span class="iconContainer">
        <img src="" />
      </span>
      <span class="textContainer">
        We've noticed you eat at a restaurant every weekday afternoon. <br/>
        It's nice to be social - but bring your lunch twice a week, and watch your empire grow
      </span>
      <div class="clear"></div>
    </div>

    <div class="ctaContainer">
      <span class="btn green-btn btn-default">See Impact</span>
    </div>
  
  </div>
    <div class="grid-item blue-box">
    <div class="top-box-part">
      <span class="iconContainer">
        <img src="" />
      </span>
      <span class="textContainer">
        Try Congstar & save on your mobile bill
      </span>
      <div class="clear"></div>
    </div>

    <div class="ctaContainer">
      <span class="btn blue-btn btn-default">See Impact</span>
    </div>
  
  </div>
  <div class="grid-item black-box">
  <div class="top-box-part">
      <span class="iconContainer">
        <img src="" />
      </span>
      <span class="textContainer">
        Switch to FitnessFirst to save on gym costs
      </span>
      <div class="clear"></div>
    </div>

    <div class="ctaContainer">
      <span class="btn blue-btn btn-default">See Impact</span>
    </div>
  </div>
  <div class="grid-item orange-box">
  <div class="top-box-part">
      <span class="iconContainer">
        <img src="images/congstar.svg" />
      </span>
      <span class="textContainer">
        Get off the subway. <br/>
        Bike to work!
      </span>
      <div class="clear"></div>
    </div>

    <div class="ctaContainer">
      <span class="btn blue-btn btn-default">See Impact</span>
    </div>
  
  </div>
</div>
