<div class="grid mansory">
  <div class="grid-item height-1 red-box">
    <div class="top-box-part">
      <span class="iconContainer">
        <img src="images/hypovereinsbank-final.svg" />
      </span>
      <span class="textContainer">
        Switch to <br/> HVB PlusSparen
      </span>
      <div class="clear"></div>
    </div>

    <div class="ctaContainer">
      <span class="btn red-btn btn-default" data-id="hvb" data-legend="HVB PlusSparen" data-color="#E92107" data-percent="5">See Impact</span>
      <span class="percentage">+3%</span>
    </div>
  </div>
  
  
  <div class="grid-item height-1 gray-box ">
    <div class="top-box-part">
      <span class="iconContainer">
        <img src="images/Shape.svg" />
      </span>
      <span class="textContainer">
        Skip the Cinema
      </span>
      <div class="clear"></div>
    </div>

    <div class="ctaContainer">
      <span class="btn gray-btn btn-default" data-id="cinema" data-legend="No cinema" data-color="#2FC4FC" data-percent="1">See Impact</span>
      <span class="percentage">+1%</span>
    </div>
  </div>
  
  
  <div class="grid-item height-2 pink-box grid-item--width2">
    <div class="top-box-part">
      <span class="iconContainer">
        <img src="images/cup.svg" />
      </span>
      <span class="textContainer">
        Consider buying an espresso machine (for under 100, please!) and having your morning cup of coffee at home.
      </span>
      <div class="clear"></div>
    </div>

    <div class="ctaContainer">
      <span class="btn pink-btn btn-default" data-id="coffee" data-legend="Morning coffee" data-color="#9177E4" data-percent="4">See Impact</span>
      <span class="percentage">+4%</span>
    </div>
  
  </div>
  
  <div class="grid-item height-2 green-box grid-item--width2">
    <div class="top-box-part">
      <span class="iconContainer">
        <img src="images/cup.svg" />
      </span>
      <span class="textContainer">
        We've noticed you eat at a restaurant every weekday afternoon. <br/>
        It's nice to be social - but bring your lunch twice a week, and watch your empire grow
      </span>
      <div class="clear"></div>
    </div>

    <div class="ctaContainer">
      <span class="btn green-btn btn-default" data-id="lunch" data-legend="Own lunch" data-color="#92DBA4" data-percent="4">See Impact</span>
      <span class="percentage">4%</span>

    </div>
  
  </div>
    <div class="grid-item height-1 dark-gray-box">
    <div class="top-box-part">
      <span class="iconContainer">
        <img src="images/congstar.svg" />
      </span>
      <span class="textContainer">
        Try Congstar & save on your mobile bill
      </span>
      <div class="clear"></div>
    </div>

    <div class="ctaContainer">
      <span class="btn dark-gray-btn btn-default" data-id="congstar" data-legend="Congstar" data-color="#294696" data-percent="2">See Impact</span>
      <span class="percentage">+2%</span>

    </div>
  
  </div>
  <div class="grid-item height-1 blue-box">
  <div class="top-box-part">
      <span class="iconContainer">
        <img src="images/fitnessfirst.svg" />
      </span>
      <span class="textContainer">
        Switch to FitnessFirst to save on gym costs
      </span>
      <div class="clear"></div>
    </div>

    <div class="ctaContainer">
      <span class="btn blue-btn btn-default" data-id="fitnessfirst" data-legend="FitnessFirst" data-color="#000000" data-percent="2">See Impact</span>
      <span class="percentage">+2%</span>

    </div>
  </div>
  <div class="grid-item height-1 orange-box">
  <div class="top-box-part">
      <span class="iconContainer">
        <img src="images/bike-wheel-2.svg" />
      </span>
      <span class="textContainer">
        Get off the subway. <br/>
        Bike to work!
      </span>
      <div class="clear"></div>
    </div>

    <div class="ctaContainer">
      <span class="btn orange-btn btn-default" data-id="bike" data-legend="Bike to work" data-color="#FF951D" data-percent="2">See Impact</span>
      <span class="percentage">+2%</span>
    </div>
  
  </div>
</div>
