<div class="icons">
  <div class="crumbs hidden-sm hidden-xs">
    <ul>
      <li><a class="active single">Mogul</a></li>
    </ul>
  </div>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="#"><img src="images/user.svg"/></a></li>
    <li><a href="#"><img src="images/hamburger-menu.svg"/></a></li>
  </ul>
</div>

<div class="tab-container">
  <div class="logo">M&#9650;KEB&#9650;NK</div>
  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">Forecast</a></li>
    <li role="presentation" class="active"><a class="light-blue-box" href="#">Accounts</a></li>
    <li role="presentation" class="active"><a class="purple-box" href="#">Community</a></li>
  </ul>
</div>
