<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>M&#9650;KE&nbsp;&nbsp;B&#9650;NK</title>

  <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href="app.css" rel="stylesheet" type="text/css" />
  <link href="breadcrumbs.css" rel="stylesheet" type="text/css" />

  <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="bower_components/highcharts/highcharts.js"></script>
  <script type="text/javascript" src="bower_components/highcharts/highcharts-more.js"></script>
  <script type="text/javascript" src="app.js"></script>
</head>

<body>

      <div class="icons">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><img src="images/hamburger-menu.svg"/></a></li>
          <li><a href="#"><img src="images/user.svg"/></a></li>

      </ul>
      </div>

    <div class="tab-container">
      <ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Forecast</a></li>
  <li role="presentation"><a href="#">Accounts</a></li>
  </ul>
    </div>
    <div class="container">
      <div class="row header-row">
        <div class="col-md-12">
          <h1 class="text-center"><span class="green-title">Hey Michel!</span> Welcome back.</h1>
          <h4 class="text-center">You're doing great great this month. Keep it up.</h4>
        </div>
      </div>
    </div>

    <div class="colored-row">
      <div class="container">
        <div class="row">
          <div class="col-md-9 welcome">
            <h3><i class="big">Instant Win</i></h3>
            <p class="big">We know, we know, you love to smoke - <br/>
            but if you quit today, your forecast will get a HUGE boost</p>
            <p>Plus, you know you'll live long enough to enjoy millions.</p>
            <div class="btn btn-default">See IMPAKT</div>
          </div>
        </div>
      </div>
    </div><!--end colored-row-->

    <div class="container">
      <div class="row">
        <div class="text-center">
          <h3 class="text-center blue-title">June</h3>
          <span class="gray">overview</span>
        </div>
        <hr style="color: #CCCCCC; width: 300px;" />
        <div class="col-md-8">
          {{> progressbars }}
        </div>

        <div class="row-md-4 text-center">
          {{> camera}}
        </div>

      </div>

      <div class="row mainChart">
        <div class="col-md-12">
          {{> mainChart }}
        </div>
      </div>

      <div class="row description">
        <div class="col-md-12">
          {{> description }}
        </div>
      </div>

    </div>



    {{{body}}}

</body>
</html>
