<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Impact</title>

  <link rel="stylesheet" href="bower_components/bower-bootstrap-css/bootstrap.css">
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href="app.css" rel="stylesheet" type="text/css" />

  <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="bower_components/highcharts/highcharts.js"></script>
  <script type="text/javascript" src="bower_components/highcharts/highcharts-more.js"></script>
  <script type="text/javascript" src="bower_components/highcharts/modules/exporting.js"></script>
</head>

<body>
  {{{body}}}
</body>
</html>
