<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>M&#9650;KE&nbsp;&nbsp;B&#9650;NK</title>

  <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href="app.css" rel="stylesheet" type="text/css" />
  <link href="breadcrumbs.css" rel="stylesheet" type="text/css" />

  <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
  <script type="text/javascript" src="bower_components/highcharts/highcharts.js"></script>
  <script type="text/javascript" src="bower_components/highcharts/highcharts-more.js"></script>

  <script type="text/javascript" src="bower_components/masonry/dist/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="app.js"></script>

</head>

<body>
    {{> nav}}

    <div class="container header-container">
      <div class="row header-row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="text-center"><span class="green-title">Hey Michel!</span> Welcome back.</h1>
          <h4 class="text-center">You're doing great great this month. Keep it up.</h4>
        </div>
      </div>
    </div>

    <div class="colored-row hidden-sm hidden-xs">
      {{> carousel}}
    </div>

    <div class="container">
      <div class="row">
        <div class="text-center">
          <h3 class="text-center blue-title">June</h3>
          <span class="gray">overview</span>
        </div>
        <hr style="color: #CCCCCC; width: 300px;" />

        <div class="col-md-6 col-md-offset-2">
          {{> progressbars }}
        </div>

        <div class="col-md-2 text-center">
          {{> camera}}
        </div>

      </div>

      <div class="row mainChart">
        <div class="col-md-8 col-md-offset-2">
          {{> mainChart }}
        </div>
      </div>

      <div class="row description">
        <div class="col-md-8 col-md-offset-2">
          {{> description }}
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          {{> mansory }}
        </div>
      </div>

    </div>
  <div class="footer"></div>



    {{{body}}}

  <script type="text/javascript">
    $('.grid').masonry({
    // options
      itemSelector: '.grid-item',
      columnWidth: 230,
      gutter: 15

    });
  </script>

</body>
</html>
