body {
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

.container {
 width: 760px; 
}

.icons {
  position: absolute;
  top: -5px;
  right: 20px;
}

.tab-container {
  margin-top: 15px;
  padding-left: 5px;
  border-bottom: 1px solid #CCC;
}

.tab-container .nav-tabs {
 border-bottom: 0px;
}

.header-row {
  color: #CCCCCC;
  margin-bottom: 30px;
  margin-top: 30px;
  text-transform: uppercase;
}

.colored-row {
  background-color: #F97137;
  color: #ffffff;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.colored-row .btn {
 color: #F97137;
}

.bank-amount {
  margin-bottom: 20px;
}

.amount {
 font-size: 24px;
}

.description ul {
  margin-left: 120px;
  margin-top: 20px;
  line-height: 1.5
}

.green-title {
 color: #A9E1B7;
}

.blue-title {
  color: #549AF5;
}

.gray {
 color: #CCCCCC;
}

/* Progress bar */
.progress-blue {
  background-color: #AAC8E2;
}
.progress-bar-blue {
  background-color: #5FA2F9;
}

.progress-red {
  background-color: #FC4941;
}

.progress-bar-green {
  background-color: #92DBA4;
}

.progress-yellow {
  background-color: #FFC803;
}

.progress-bar-pink {
  background-color: #F7458F;
}

.progress > span {
  float: right;
  color: #FFFFFF;
  padding-right: 10px;
}

.footer {
 margin-bottom: 100px; 
}

/* mansory */
.grid-item { 
  width: 230px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.grid-item--width2 { 
  width: 230px;
  background-color: #FF951D;
}

.height-1 {
  height: 100px;
}

.height-2 {
  height: 210px;  
}

.light-blue-box {
  background-color: #2FC4FC;
}

.red-box {
  background-color: #E92107;
}

.orange-box {
  background-color: #FF951D;
}

.blue-box {
 background-color: #294696; 
}

.green-box {
 background-color: #92DBA4; 
}

.purple-box {
 background-color: #9177E4; 
}

.black-box {
 background-color: #000000; 
}

.mansory {
  color: #FFFFFF;
  line-height: 1.2em
}

.top-box-part {
 padding: 8px 0px; 
}

.iconContainer {
  float: left;
  width: 35px;
  padding-left: 10px;
  margin-right: 10px;
} 

.textContainer {
  float: left;
  margin-left: 10px;
  padding-right: 10px;
  width: 170px;
}

.ctaContainer {
  border-top: 1px solid #fff;
  padding: 10px 0px; 
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0px;
}

.ctaContainer .btn {
  border: 0px;
  padding: 3px 6px;
}

.red-btn {
  color: #E92107;
}

.light-blue-btn {
  color: #2FC4FC;
}

.purple-btn {
  color: #9177E4;
}

.green-btn {
 color: #92DBA4; 
}

.black-btn {
 color: #000000; 
}


.clear {
 clear: both; 
}

.welcome i {
  font-family: 'Lobster', cursive;
}

.welcome .btn {
  font-size: 120%;
  text-transform: uppercase;
}

.big {
  font-size: 140%;
}